.boot{
    
    padding: 10px;
    height: 510px;
    
    
}
h1{ border: 1px;
    background-color: silver;
    height: 150px;
    padding: 10px
}
img{float: left; margin: 10px}
center{ margin-top: 20px;}
p{ border: 1px; height: 200px; background-image: url(img1.jpg); margin-top: -10px; font-size: 20px; color: ffffff; text-align: center }
h2{ border: 1px; background: silver; margin-top: -15px; color: red}
h5{ border: 1px; height: 150px; background-color: silver; color:ffffff}